// Colors
$primary-color: #729C03;
$brand-color: #174a8f;
$white: #fff;
$black: #000;
$facebook: #3b5998;

$header-bgc: #252423;
$footer-bgc: #f0f0f0;

$input-border: #d5d5d5;
$devider-color: #999;

// Typography
$basic-font-color: #333;

$link-color: #0090aa;

$line-color: $devider-color;
$line-gutter: 0.5rem;
